@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  font-family: 'Source Sans Pro';
  color: #e8e9eb;
  background: linear-gradient( #031d44, #3d506e);
}

/* -- NAV-BAR STYLES--  */

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px #768398;
}

.indLink {
  text-decoration: none;
  font-weight: 600;
  box-shadow: 1px 0px 0px #768398;
}

.indLink:nth-child(3) {
  box-shadow: 0px 0px 0px #768398;
}

.indLink .Link:hover {
  color: #f1a208;
  transition: .1s all;
}

.indLink .Link:active {
  background: rgba( 232, 233, 235, .4);
  transition: .1s all;
}

.indLink .Link  {
  padding: 1px 20px;
  color: #e8e9eb;
  text-decoration: none;
}

/* -- MAIN CLOCK STYLES -- */

.clockViewCntr, .timerCntr, .timerSsnsView {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.clockViewHeading, .timerCntrHdng, .timerSsnsHdng{
  font-size: 24px;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 600;
}

.mainClock {
  position: relative;
  top: 3rem;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
}

.mainClock span {
  letter-spacing: 0px;
  font-size: 40px;
}

.timeZoneCntr {
  position: relative;
  top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.indTimezone {
  font-size: 20px;
  padding: 1px 20px;
  color: #e8e9eb;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

.indTimezone.clicked {
  color: #f1a208;
}

.indLink:nth-child(3) {
  box-shadow: 0px 0px 0px #768398;
}

.indTimezone:hover {
  color: #f1a208;
  transition: .1s all;
}

.indTimezone:active {
  background: rgba( 232, 233, 235, .4);
  transition: .1s all;
}

/* -- TIMER STYLES --  */

.saveBtn {
  width: 75%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1px 10px;
  border-radius: 5px;
  outline: 1px solid #e8e9eb;
  cursor: pointer;
}

.saveBtn:hover {
  box-shadow: 4px 3px 0px #e8e9eb;
  transition: .1s ease-in-out;
}

.saveBtn:active {
  color: #768398;
  box-shadow: 4px 3px 0px #768398;
  transition: .1s all;
}

.mainTimer {
  position: relative;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
}

.timerBtnsCntr {
  width: 75vw;
  display: flex;
  justify-content: space-between;
}

.cancelBtn, .startPauseBtn {
  height: 5rem;
  width: 5rem;
  font-size: 20px;
  text-align: center;
  line-height: 4.5rem;
  letter-spacing: 1px;
  outline: 2px solid #e8e9eb;
  border-radius: 50%;
  cursor: pointer;
}

.cancelBtn:hover, .startPauseBtn:hover {
  outline: 2px solid #f1a208;
  color: #f1a208;
  transition: .2s linear;
}

.cancelBtn:active {
  outline: 2px solid #f21b3f;
  color: #f21b3f;
  transition: .2s linear;
}

.startPauseBtn:active {
  outline: 2px solid #4acf22;
  color: #4acf22;
  transition: .2s linear;
}

.crntTimersCntr {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2rem;
  width: 80%;
  min-height: 30%;
  max-height: 30%;
  border-radius: 5px;
  outline: 1px solid #768398;
  overflow: auto;
}

.crntTimersCntr::-webkit-scrollbar {
  width: 0px;
}

.indTimer {
  position: relative;
  top: 10px;
  width: 88%;
  height: 2rem;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 10px;
  outline: 1px solid #e8e9eb;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.inputTimer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 12rem;
  width: 100vw;
}

.inputTimer p {
  position: relative;
  top: 30%;
  margin-left: 2px;
  height: 2rem;
}

.inputHours, .inputMinutes, .inputSeconds {
  position: relative;
  top: 35%;
  height: 20%;
  font-size: 18px;
  text-align: center;
  color: #e8e9eb;
  background: #203759;
  padding: 2px;
  border-radius: 5px;
}

.inputMinutes, .inputSeconds {
  margin-left: 10px ;
}

#removeTimerBtn {
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
}

#removeTimerBtn:hover {
  background: #f21b3f;
  transition: .1s linear;
}

#removeTimerBtn:active {
  background: none;
  color: #f21b3f;
  transition: .1s linear;
}

.saveSessionCntr {
  width: 75%;
  height: 1.5rem;
  outline: 1px solid #e8e9eb;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.sessionNameInput {
  width: 80%;
  background: none;
  border: none;
  padding: 0px 5px;
  color: #e8e9eb;
}

.descriptionInput {
  width: 75%;
  height: 1.5rem;
  outline: 1px solid #e8e9eb;
  display: flex;
  background: none;
  border: none;
  color: #e8e9eb;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 10px;
}

.saveSessionBtn {
  padding: 0px 12px;
  outline: 1px solid #e8e9eb;
  cursor: pointer;
}

.saveSessionBtn:hover {
  outline: 2px solid #e8e9eb;
  font-weight: 800;
  transition: .1s linear;
}

.saveSessionBtn:active {
  background: #e8e9eb;
  color: #031d44;
  transition: .1s linear;
}

/* -- TIMER SESSIONS STYLES -- */

.searchbar {
  width: 75%;
  height: 1.2rem;
  font-size: 16px;
  background: rgba( 232, 233, 235, .1);
  border: none;
  color: #e8e9eb;
  padding: 3px 10px;
  border-radius: 5px;
}

.searchbar:focus {
  outline: 1px solid #768398;
  background: transparent;
  transition: .2s linear;
}

.timerSsnsCntr {
  position: relative;
  top: 1rem;
  width: 100vw;
  height: 78.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerSessionCls {
  position: relative;
  top: 1rem;
  height: 3rem;
  padding: 5px 10px;
  outline: 1px solid #e8e9eb;
  border-radius: 2px;
  cursor: pointer;
}

.timerSessionCls:hover, .timerSessionOpen:hover{
  background: rgba( 232, 233, 235, .1);
  transition: .1s all; 
}

.timerSessionCls:active, .timerSessionOpen:active {
  background: rgba( 232, 233, 235, .3);
  transition: .1s all; 
}

.name-rmvBtnCntr {
  display: flex;
  pointer-events: none;
}

.nameOfSession {
  position: relative;
  bottom: 1rem;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}

.removeSessionBtn {
  position: absolute;
  right: .4rem;
  height: 1.3rem;
  font-weight: 600;
  padding: 1px 3px; 
  cursor: pointer;
  border-radius: 5px;
  pointer-events: all;
}

.removeSessionBtn:hover {
  outline: 1px solid #e8e9eb;
  box-shadow: 2px 2px 2px #e8e9eb;
  transition: .1s linear;
}

.removeSessionBtn:active {
  background: #e8e9eb;
  color: #031d44;
}

.indTimerSession { margin-bottom: 20px; }

.timerSessionOpen { 
  margin-bottom: 20px;
  cursor: pointer; 
}

.intervalsCntrCls {
  position: relative;
  bottom: 1.8rem;
  width: 75%;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intervalTime {
  font-size: 17px;
  padding: 1px 5px;
  color: #203759;
  background: rgba( 232, 233, 235, .7);
  border-radius: 10px;
}

.timerSessionOpen {
  position: relative;
  top: 2rem; 
  outline: 1px solid #e8e9eb;
  border-radius: 2px;
}

.nameOfSessionOpen {
  position: relative;
  left: 10px;
  bottom: 2px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}

.timerSessionOpen .name-rmvBtnCntr .removeSessionBtn {
  top: .9rem;
}

.descriptionSession {
  position: relative;
  bottom: 20px;
  height: 4rem;
  padding: 2px 5px;
  pointer-events: none;
}

.intervalsCntrOpen {
  position: relative;
  bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0px;
}

.indInterval {
  width: 95%;
  height: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 800;
  padding: 1px 5px;
  color: #203759;
  background: rgba( 232, 233, 235, .7);
  border-radius: 10px;
  margin-bottom: 10px;
}

.sessionInterval {
  position: relative;
  left: 5px; 
}

.intervalTimeOpen {
  position: relative;
  right: 5px;
} 

@media screen and ( min-width: 630px ) {
  .indLink {
    padding: 2px 10px;
    letter-spacing: 2px;
  }

  .clockViewHeading, .timerCntrHdng, .timerSsnsHdng {
    font-size: 25px;
  }

  .indTimezone {
    font-size: 22px;
    padding: 2px 25px;
  }

  .saveBtn {
    width: 65%;
    font-size: 17px;
    padding: 2px 10px;
  }

  .mainTimer {
    font-size: 65px;
    letter-spacing: 5px;
  }

  .timerBtnsCntr { width: 65vw; }

  .crntTimersCntr {
    width: 70%;
  }

  .inputHours, .inputMinutes, .inputSeconds { padding: 3px; }

  .saveSessionCntr {
    width: 65%;
    height: 1.6rem;
  }

  .sessionNameInput {
    width: 85%;
    font-size: 17px;
  }

  .saveSessionBtn {
    font-size: 18px;
    padding: 0px 18px;
  }

  .searchbar, .descriptionInput {
    width: 65%;
    height: 1.3rem;
    font-size: 17px;
    padding: 4px 12px;
  }

  

  .indTimerSession {
    width: 55%;
  }

  .nameOfSession {
    font-size: 19px;
    bottom: 1.3rem;
  }

  .removeSessionBtn {
    padding: 2px 5px;
    font-size: 17px;
  }

  .intervalsCntrCls {
    bottom: 2.2rem;
    width: 57%;
  }

  .intervalTime {
    padding: 1px 5px;
    font-size: 18px;
  }

  .nameOfSessionOpen {
    font-size: 19px;
    bottom: -5px;
  }
}

@media screen and ( min-width: 950px ) {
  .indLink {
    padding: 0px 13px;
    letter-spacing: 3px;
    font-size: 18px;
  }

  .clockViewHeading, .timerCntrHdng, .timerSsnsHdng {
    font-size: 26px;
    letter-spacing: 5px;
  }

  .indTimezone {
    font-size: 24px;
    padding: 2px 28px;
  }

  .mainClock {
    font-size: 62px;
    letter-spacing: 5px;
  }

  .saveBtn {
    width: 50%;
    font-size: 19px;
    padding: 1px 10px;
  }

  .mainTimer {
    letter-spacing: 7px;
  }

  .timerBtnsCntr { width: 50vw; }

  .crntTimersCntr {
    width: 55%;
  }

  .inputHours, .inputMinutes, .inputSeconds { padding: 5px; }

  .saveSessionCntr {
    width: 52%;
    height: 1.7rem;
  }

  .sessionNameInput {
    font-size: 18px;
  }

  .saveSessionBtn {
    font-size: 19px;
    padding: 0px 22px;
  }

  .searchbar, .descriptionInput {
    width: 50%;
    font-size: 17px;
  }

  .indTimerSession {
    width: 50%;
  }

  .intervalsCntrCls {
    width: 45%;
  }

  .intervalTime {
    padding: 0px 7px;
    font-size: 19px;
  }

  .nameOfSessionOpen {
    font-size: 20px;
    bottom: 10px;
  }
}

@media screen and ( min-width: 1350px ) {
  .indLink {
    padding: 0px 15px;
    letter-spacing: 5px;
    font-size: 20px;
  }

  .clockViewHeading, .timerCntrHdng, .timerSsnsHdng {
    font-size: 28px;
    letter-spacing: 8px;
  }

  .indTimezone {
    position: relative; 
    bottom: 4rem;
    font-size: 26px;
    padding: 2px 32px;
  }

  .mainClock {
    top: -.1rem;
    font-size: 65px;
    letter-spacing: 8px;
  }

  .saveBtn {
    width: 45%;
    font-size: 22px;
    padding: 2px 13px;
  }

  .mainTimer {
    top: -1rem;
    font-size: 68px;
    letter-spacing: 8px;
  }

  .timerBtnsCntr {
    position: relative; 
    bottom: 2rem; 
    width: 45vw; 
  }

  .cancelBtn, .startPauseBtn {
    height: 6rem;
    width: 6rem;
    font-size: 24px;
    line-height: 6rem;
    letter-spacing: 2px;
  }

  .crntTimersCntr {
    width: 47%;
  }

  .indTimer {
    top: 12px;
    width: 95%;
    font-size: 20px;
  }

  .inputHours, .inputMinutes, .inputSeconds { 
    height: 25%;
    font-size: 22px;
    padding: 7px; 
  }

  .saveSessionCntr {
    width: 47%;
    height: 2rem;
  }

  .sessionNameInput {
    width: 86%;
    font-size: 20px;
  }

  .inputTimer p {
    font-size: 18px;
    padding: 5px;
  }

  .saveSessionBtn {
    font-size: 20px;
    padding: 2px 28px;
  }

  .searchbar, .descriptionInput {
    width: 40%;
    height: 1.5rem;
    font-size: 20px;
  }

  .indTimerSession {
    width: 35%;
  }

  .timerSessionCls {
    height: 4rem;
  }

  .nameOfSession {
    font-size: 21px;
  }

  .removeSessionBtn {
    padding: 3px 5px;
    font-size: 19px;
  }

  .intervalsCntrCls {
    bottom: 2rem;
    width: 46%;
  }

  .intervalTime {
    padding: 1px 7px;
    font-size: 20px;
  }

  .nameOfSessionOpen {
    font-size: 21px;
    bottom: 10px;
  }

  .descriptionSession {
    font-size: 18px;
  }

  .indInterval {
    font-size: 19px;
  }
}