@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Source+Sans+Pro:wght@400;600&display=swap');

body {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  font-family: 'Source Sans Pro';
  color: #e8e9eb;
  background: linear-gradient( #031d44, #3d506e);
  /* background: #3d506e; */
}

/* -- NAV-BAR STYLES--  */

.linkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px #768398;
  /* outline: 1px solid red; */
}

.indLink {
  text-decoration: none;
  font-weight: 600;
  /* outline: 1px solid gray; */
  box-shadow: 1px 0px 0px #768398;
}

.indLink:nth-child(3) {
  box-shadow: 0px 0px 0px #768398;
}

.indLink .Link:hover {
  color: #f1a208;
  transition: .1s all;
}

.indLink .Link:active {
  background: rgba( 232, 233, 235, .4);
  transition: .1s all;
}

.indLink .Link  {
  padding: 1px 20px;
  color: #e8e9eb;
  text-decoration: none;
}

/* -- MAIN CLOCK STYLES -- */

.clockViewCntr, .timerCntr, .timerSsnsView {
  /* position: relative; */
  /* bottom: 1.45rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  outline: 1px solid red;
}

.clockViewHeading, .timerCntrHdng, .timerSsnsHdng{
  font-size: 24px;
  text-align: center;
  letter-spacing: 4px;
  font-weight: 600;
  /* outline: 1px solid blue; */
}

.mainClock {
  position: relative;
  top: 3rem;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
  /* outline: 1px solid red; */
}

.mainClock span {
  /* right: 10px; */
  letter-spacing: 0px;
  font-size: 40px;
}

.timeZoneCntr {
  position: relative;
  top: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* box-shadow: 1px 1px 0px #768398, -1px -1px 0px #768398; */
}

.indTimezone {
  font-size: 20px;
  padding: 1px 20px;
  color: #e8e9eb;
  text-decoration: none;
  font-weight: 600;
  /* outline: 1px solid gray; */
  /* box-shadow: 1px 0px 0px #768398; */
  cursor: pointer;
}

.indLink:nth-child(3) {
  box-shadow: 0px 0px 0px #768398;
}

.indTimezone:hover {
  color: #f1a208;
  transition: .1s all;
}

.indTimezone:active {
  background: rgba( 232, 233, 235, .4);
  transition: .1s all;
}

/* -- TIMER STYLES --  */

.saveBtn {
  width: 75%;
  text-align: center;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1px 10px;
  border-radius: 5px;
  outline: 1px solid #e8e9eb;
  cursor: pointer;
}

.saveBtn:hover {
  box-shadow: 4px 3px 0px #e8e9eb;
  transition: .1s ease-in-out;
}

.saveBtn:active {
  color: #768398;
  /* outline: 1px solid #768398;  */
  box-shadow: 4px 3px 0px #768398;
  transition: .1s all;
}

.mainTimer {
  position: relative;
  font-weight: 800;
  font-size: 60px;
  letter-spacing: 2px;
  text-align: center;
}

.timerBtnsCntr {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  /* outline: 1px solid red; */
}

.cancelBtn, .startPauseBtn {
  height: 5rem;
  width: 5rem;
  font-size: 20px;
  text-align: center;
  line-height: 4.5rem;
  letter-spacing: 1px;
  outline: 2px solid #e8e9eb;
  /* padding: 30px 20px; */
  border-radius: 50%;
  cursor: pointer;
}

.cancelBtn:hover, .startPauseBtn:hover {
  outline: 2px solid #f1a208;
  color: #f1a208;
  transition: .2s linear;
}

.cancelBtn:active {
  outline: 2px solid #f21b3f;
  color: #f21b3f;
  transition: .2s linear;
}

.startPauseBtn:active {
  outline: 2px solid #4acf22;
  color: #4acf22;
  transition: .2s linear;
}

.crntTimersCntr {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2rem;
  width: 80%;
  min-height: 10%;
  border-radius: 5px;
  outline: 1px solid #768398;
  overflow: auto;
}

.crntTimersCntr::-webkit-scrollbar {
  width: 0px;
}

.indTimer {
  position: relative;
  top: 10px;
  width: 88%;
  height: 40%;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 10px;
  outline: 1px solid #e8e9eb;
  border-radius: 5px;
  overflow: hidden;
}

.inputTimer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* outline: 1px solid red; */
  height: 12rem;
  width: 100vw;
}

.inputTimer p {
  position: relative;
  top: 30%;
  margin-left: 2px;
  /* text-align: center; */
  /* outline: 1px solid red; */
  height: 2rem;
}

.inputHours, .inputMinutes, .inputSeconds {
  position: relative;
  top: 35%;
  height: 20%;
  font-size: 18px;
  text-align: center;
  color: #e8e9eb;
  background: #203759;
  /* -webkit-appearance: none; */
  /* appearance: none; */
  padding: 2px;
  border-radius: 5px;
}

.inputHours option {
  background: none;
}

.inputMinutes, .inputSeconds {
  margin-left: 10px ;
}

#removeTimerBtn {
  /* position: absolute; */
  /* right: .7rem; */
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  /* outline: 1px solid red; */
}

#removeTimerBtn:hover {
  background: #f21b3f;
  transition: .1s linear;
}

#removeTimerBtn:active {
  background: none;
  color: #f21b3f;
  transition: .1s linear;
}

.saveSessionCntr {
  width: 75%;
  height: 1.5rem;
  outline: 1px solid #e8e9eb;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}

.sessionNameInput {
  width: 80%;
  /* outline: 1px solid green; */
  background: none;
  border: none;
  padding: 0px 5px;
  color: #e8e9eb;
}

.saveSessionBtn {
  padding: 0px 12px;
  outline: 1px solid #e8e9eb;
  cursor: pointer;
}

.saveSessionBtn:hover {
  outline: 2px solid #e8e9eb;
  font-weight: 800;
  transition: .1s linear;
}

.saveSessionBtn:active {
  background: #e8e9eb;
  color: #031d44;
  transition: .1s linear;
}

/* -- TIMER SESSIONS STYLES -- */

.searchbar {
  width: 75%;
  height: 1.2rem;
  font-size: 16px;
  background: rgba( 232, 233, 235, .1);
  border: none;
  /* outline:1px solid #768398; */
  color: #e8e9eb;
  padding: 3px 10px;
  border-radius: 5px;
}

.searchbar:focus {
  outline: 1px solid #768398;
  background: transparent;
  transition: .2s linear;
}

.timerSsnsCntr {
  /* outline: 1px solid blue; */
  position: relative;
  top: 1rem;
  width: 100vw;
  height: 78.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timerSessionCls {
  position: relative;
  top: 1rem;
  /* width: 100%; */
  height: 3rem;
  padding: 5px 10px;
  outline: 1px solid #e8e9eb;
  /* background: rgba( 232, 233, 235, .1); */
  border-radius: 2px;
  cursor: pointer;
}

.timerSessionCls:hover, .timerSessionOpen:hover{
  background: rgba( 232, 233, 235, .1);
  transition: .1s all; 
}

.timerSessionCls:active, .timerSessionOpen:active {
  background: rgba( 232, 233, 235, .3);
  transition: .1s all; 
}

.name-rmvBtnCntr {
  display: flex;
  /* outline: 1px solid red; */
}

.nameOfSession {
  position: relative;
  bottom: 1rem;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
  /* outline: 1px solid yellow; */
}

.removeSessionBtn {
  position: absolute;
  right: .4rem;
  height: 1.3rem;
  font-weight: 600;
  padding: 1px 3px; 
  /* outline: 1px solid red; */
  cursor: pointer;
  border-radius: 5px;
}

.removeSessionBtn:hover {
  outline: 1px solid #e8e9eb;
  box-shadow: 2px 2px 2px #e8e9eb;
  transition: .1s linear;
}

.removeSessionBtn:active {
  background: #e8e9eb;
  color: #031d44;
}

.timerSessionOpen { cursor: pointer; }

.intervalsCntrCls {
  position: relative;
  bottom: 1.8rem;
  width: 75%;
  height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* outline: 1px solid green; */
}

.intervalTime {
  font-size: 17px;
  padding: 1px 5px;
  color: #203759;
  background: rgba( 232, 233, 235, .7);
  border-radius: 10px;
  /* outline: 1px solid red; */
}

.timerSessionOpen {
  position: relative;
  top: 2rem; 
  outline: 1px solid #e8e9eb;
  border-radius: 2px;
}

.timerSessionOpen .name-rmvBtnCntr {
  /* outline: 1px solid red; */
}

.nameOfSessionOpen {
  position: relative;
  left: 10px;
  bottom: 2px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}

.timerSessionOpen .name-rmvBtnCntr .removeSessionBtn {
  top: .9rem;
}

.descriptionSession {
  position: relative;
  bottom: 20px;
  /* outline: 1px solid red; */
  height: 4rem;
  padding: 2px 5px;
}

.intervalsCntrOpen {
  position: relative;
  bottom: 2.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid red; */
  padding: 5px 0px;
}

.indInterval {
  width: 95%;
  height: 1.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-weight: 800;
  padding: 1px 5px;
  color: #203759;
  background: rgba( 232, 233, 235, .7);
  border-radius: 10px;
}

.sessionInterval {
  position: relative;
  left: 5px; 
}

.intervalTimeOpen {
  position: relative;
  right: 5px;
} 

/*
                <div className='intervalsCntrOpen'>
                    <div className='indInterval'>
                        <p className='sessionInterval'>Interval 1</p>
                        <p className='intervalTimeOpen'>' */